<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/websocket/spring-websocket-4.1.xsd">

    <!-- 自动扫描controller -->
    <context:component-scan base-package="org.lieying.web.controller"/>
    <!-- Spring MVC不处理静态资源 -->
    <mvc:default-servlet-handler/>
    <!--注解驱动 -->
    <mvc:annotation-driven/>
    <mvc:interceptors>
        <!--登录拦截器-->
        <mvc:interceptor>
            <!--拦截所有请求-->
<!--            <mvc:mapping path="/jobHunter/resume/update"/>-->
            <mvc:mapping path="/position/add"/>
            <mvc:mapping path="/position/browse"/>
<!--            <mvc:mapping path="/article/save"/>-->
<!--            <mvc:mapping path="/article/comment/save"/>-->
            <mvc:mapping path="/chat"/>

            <!--排除以下请求-->
<!--            <mvc:exclude-mapping path="/"/>-->
<!--            <mvc:exclude-mapping path="/jobHunter/login"/>-->
<!--            <mvc:exclude-mapping path="/jobHunter/*"/>-->
<!--            <mvc:exclude-mapping path="/admin/login"/>-->

<!--            <mvc:exclude-mapping path="/position/category/all"/>-->
<!--            <mvc:exclude-mapping path="/company/industry/all"/>-->
<!--            <mvc:exclude-mapping path="/company/financingStage/all"/>-->
<!--            <mvc:exclude-mapping path="/company/scale/all"/>-->

            <bean class="org.lieying.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <!--错误拦截器-->
        <mvc:interceptor>
            <!--拦截所有请求-->
            <mvc:mapping path="/**"/>
            <bean class="org.lieying.web.interceptor.ErrorInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- 视图资源解析器 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="52428800"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <mvc:resources mapping="/images/**" location="resources/images/"/>
    <mvc:resources mapping="/uploads/**" location="resources/uploads/"/>
    <!--	<bean id="multipartResolver"-->
    <!--		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--	</bean>-->
</beans>
