<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lieying.dao.ArticlePraiseMapper">
    <select id="selectArticlePraiseById" resultMap="JobHunterPraiseArticleResultMap" parameterType="int" >
        select * from article_praise where article_praise_id = #{article_praise_id} limit 1
    </select>
    <select id="selectArticlePraisesByArticleId" resultMap="articlePraiseResultMap" parameterType="int">
        select * from article_praise where article_id = #{id}
    </select>
    <select id="selectArticlePraisesByJobHunterId" resultMap="jobHunterPraiseResultMap" parameterType="int">
        select * from article_praise where article_id = #{id}
    </select>
    <delete id="deleteArticlePraise" parameterType="int">
        delete from article_praise where article_praise_id=#{id}
    </delete>
    <insert id="insertArticlePraise">
        insert into article_praise(article_praise_created_time, article_id, job_hunter_id)
        values (#{article_praise_created_time},#{article_id},
                #{job_hunter_id})
    </insert>
    <resultMap id="articlePraiseResultMap" type="ArticlePraise">
        <id property="id" column="article_praise_id"/>
        <result property="createdTime" column="article_praise_created_time"/>
        <association property="jobHunter" column="job_hunter_id" select="org.lieying.dao.JobHunterMapper.selectJobHunterById"/>
    </resultMap>
    <resultMap id="jobHunterPraiseResultMap" type="ArticlePraise">
        <id property="id" column="article_praise_id"/>
        <result property="createdTime" column="article_praise_created_time"/>
        <association property="article" column="article_id" select="org.lieying.dao.ArticleMapper.selectArticleById"/>
    </resultMap>
    <resultMap id="JobHunterPraiseArticleResultMap" type="ArticlePraise">
        <id property="id" column="article_praise_id"/>
        <result property="createdTime" column="article_praise_created_time"/>
        <association property="jobHunter" column="job_hunter_id" select="org.lieying.dao.JobHunterMapper.selectJobHunterById"/>
        <association property="article" column="article_id" select="org.lieying.dao.ArticleMapper.selectArticleById"/>
    </resultMap>
</mapper>
