<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lieying.dao.PositionBrowseMapper">


    <select id="selectJobHunterPositionBrowsesByPositionId" parameterType="int" resultMap="jobHunterPositionBrowseResultMap">
        select * from position_browse where position_browse_id =#{position_browse_id}
    </select>
    <select id="selectPositionBrowsesByPositionId" parameterType="int" resultMap="positionBrowseResultMap">
        select * from position_browse where position_id =#{position_id}
    </select>

    <select id="selectPositionBrowsesByJobHunterId" parameterType="int" resultMap="jobHunterBrowseResultMap">
        select * from position_browse where job_hunter_id =#{job_hunter_id}
    </select>
    <select id="selectDetailPositionBrowsesByJobHunterId" parameterType="int" resultMap="jobHunterPositionBrowseResultMap">
        select * from position_browse where job_hunter_id =#{job_hunter_id}
    </select>
    <select id="selectAllPositionBrowses"  resultMap="jobHunterPositionBrowseResultMap">
        select * from position_browse
    </select>
    <insert id="insertPositionBrowse">
        insert into position_browse(position_browse_created_time,job_hunter_id,position_id)
        values(#{position_browse_created_time},#{job_hunter_id},#{position_id})
    </insert>

    <resultMap id="positionBrowseResultMap" type="PositionBrowse">
        <id property="id" column="position_browse_id"/>
        <result property="createdTime" column="position_browse_created_time"/>
        <association property="jobHunter" column="job_hunter_id"
                     select="org.lieying.dao.JobHunterMapper.selectJobHunterById"/>
    </resultMap>

    <resultMap id="jobHunterBrowseResultMap" type="PositionBrowse">
        <id property="id" column="position_browse_id"/>
        <result property="createdTime" column="position_browse_created_time"/>
        <association property="position" column="position_id"
                     select="org.lieying.dao.PositionMapper.selectPositionById"/>
    </resultMap>
    <resultMap id="jobHunterPositionBrowseResultMap" type="PositionBrowse">
        <id property="id" column="position_browse_id"/>
        <result property="createdTime" column="position_browse_created_time"/>
        <association property="jobHunter" column="job_hunter_id"
                     select="org.lieying.dao.JobHunterMapper.selectJobHunterById"/>
        <association property="position" column="position_id"
                     select="org.lieying.dao.PositionMapper.selectPositionById"/>
    </resultMap>
</mapper>
