<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lieying.dao.ProjectExperienceMapper">


    <insert id="insertProjectExperience">
        insert into project_experience(project_experience_name, project_experience_role,
                                       project_experience_url, project_experience_start_time,
                                       project_experience_end_time, project_experience_description,
                                       project_experience_performance, resume_id)
        values (#{project_experience_name}, #{project_experience_role},
                #{project_experience_url}, #{project_experience_start_time},
                #{project_experience_end_time}, #{project_experience_description},
                #{project_experience_performance}, #{resume_id})
    </insert>
    <update id="updateProjectExperience">
        update project_experience set project_experience_id=#{project_experience_id}
        <if test="project_experience_name!=null">
            ,project_experience_name=#{project_experience_name}
        </if>
        <if test="project_experience_role!=null">
            ,project_experience_role=#{project_experience_role}
        </if>
        <if test="project_experience_url!=null">
            ,project_experience_url=#{project_experience_url}
        </if>
        <if test="project_experience_start_time!=null">
            ,project_experience_start_time=#{project_experience_start_time}
        </if>
        <if test="project_experience_end_time!=null">
            ,project_experience_end_time=#{project_experience_end_time}
        </if>
        <if test="project_experience_description!=null">
            ,project_experience_description=#{project_experience_description}
        </if>
        <if test="project_experience_performance!=null">
            ,project_experience_performance=#{project_experience_performance}
        </if>
        <if test="resume_id!=null">
            ,resume_id=#{resume_id}
        </if>

        where project_experience_id=#{project_experience_id};
    </update>
    <select id="selectProjectExperiencesByResumeId" resultMap="projectExperienceResultMap" parameterType="int">
        select *
        from project_experience
        where resume_id = #{id}
    </select>
    <resultMap id="projectExperienceResultMap" type="ProjectExperience">
        <id property="id" column="project_experience_id"/>
        <result property="name" column="project_experience_name"/>
        <result property="role" column="project_experience_role"/>
        <result property="url" column="project_experience_url"/>

        <result property="startTime" column="project_experience_start_time"/>

        <result property="endTime" column="project_experience_end_time"/>
        <result property="description" column="project_experience_description"/>
        <result property="performance" column="project_experience_performance"/>
    </resultMap>

</mapper>
