<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lieying.dao.RecruiterMapper">
    <select id="selectDetailRecruiterById" resultMap="recruiterDetailResultMap" parameterType="int">
        select * from recruiter where recruiter_id = #{id}
    </select>
    <select id="selectRecruiterById" resultMap="recruiterResultMap" parameterType="int">
        select * from recruiter where recruiter_id = #{id}
    </select>
    <select id="selectRecruiterByUsernameAndPassword" resultMap="recruiterDetailResultMap">
        select * from recruiter where recruiter_username = #{recruiter_username} and recruiter_password= #{recruiter_password} limit 1
    </select>
    <select id="selectRecruitersByCompanyId" resultMap="recruiterResultMap" parameterType="int">
        select * from recruiter where company_id = #{company_id}
    </select>
    <insert id="insertRecruiter">
        insert into recruiter(recruiter_username,recruiter_name,recruiter_intro,recruiter_password,recruiter_position,recruiter_phone,recruiter_photo)
        values(#{recruiter_username},#{recruiter_name},#{recruiter_intro},#{recruiter_password},#{recruiter_position},#{recruiter_phone},#{recruiter_photo})
    </insert>


    <resultMap id="recruiterResultMap" type="Recruiter">
        <id property="id" column="recruiter_id"/>
        <result property="username" column="recruiter_username"/>
        <result property="name" column="recruiter_name"/>
        <result property="intro" column="recruiter_intro"/>
        <result property="password" column="recruiter_password"/>
        <result property="phone" column="recruiter_phone"/>
        <result property="photo" column="recruiter_photo"/>
        <result property="position" column="recruiter_position"/>
    </resultMap>
    <resultMap id="recruiterDetailResultMap" type="Recruiter">
        <id property="id" column="recruiter_id"/>
        <result property="username" column="recruiter_username"/>
        <result property="name" column="recruiter_name"/>
        <result property="intro" column="recruiter_intro"/>
        <result property="password" column="recruiter_password"/>
        <result property="phone" column="recruiter_phone"/>
        <result property="photo" column="recruiter_photo"/>
        <result property="position" column="recruiter_position"/>
        <association property="company" column="company_id" select="org.lieying.dao.CompanyMapper.selectCompanyById"/>
        <collection property="positions" column="recruiter_id" select="org.lieying.dao.PositionMapper.selectPositionsByRecruiterId"/>
        <collection property="jobHunterBrowses" column="recruiter_id" select="org.lieying.dao.JobHunterBrowseMapper.selectJobHunterBrowsesByRecruiterId"/>
        <collection property="interviews" column="recruiter_id" select="org.lieying.dao.InterviewMapper.selectInterviewsByRecruiterId"/>
        <collection property="chats" column="recruiter_id" select="org.lieying.dao.ChatMapper.selectChatsByRecruiterId"/>
    </resultMap>
</mapper>
